body{
    background-size: cover;
    background-position: 0% 25%;
    background-repeat: no-repeat;
}
.heroine, .villains{
    padding: 30px;
}

.characters{
    position: relative;
    display: inline-block;
    height: 130px;
    width: 130px;
    border-style: solid;
    border-width: 5px;
    border-color: turquoise;
    margin-right: 30px;;
}
.hero-card{
    height: 130px;
    width: 130px;
    float: left;
}

.hp{
    position: absolute;
    height: 15%;
    width: 100%;
    background-color: rgba(240, 255, 255, 0.671);
    float: left;
    text-align: center;
    margin-top: 80%;
}

.char-name{
    width: 100%;
    margin-top: 10px;
    float: left;
    font-size: 20px;
    text-align: center;
    color: aliceblue;
}